.iFrameContainer {
    padding: 20px;
    border: 1px solid white;
}

/* Stick Footer rules ((https://getbootstrap.com/examples/sticky-footer/) */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 80px;
}





